<div class="counter" id="<%= counter._id %>">
    <p class="counterName">Name: <%= counter.name %></p>
    <p class="number" >Number: <%= counter.value %></p> 
    <div class="buttons">
        <button class="add" id="add" data-doc="<%= counter._id %>">Add 1</button>
        <button class="reset" id="reset" data-doc="<%= counter._id %>">Reset</button>
        <button class="minus" id="minus" data-doc="<%= counter._id %>">Minus 1</button>
        <button class="delete" id="delete" data-doc="<%= counter._id %>">Delete Counter</button>
    </div>
</div>
